extends layout

block title
	| Nilai &mdash; Admin

block content
	.row
	- var data = res
	- var moduls = data.Moduls
		.span3
			.widget.widget-nopad
				.widget-header
					i.icon-cog
					h3  Pilih Praktikum
				.widget-content
					form#praktikum.form-vertical(style='padding:10px 15px 2px 15px; margin:0;', action='',method='')
						.control-group
							.controls
								select(onchange='document.location.href=this.value').span2
									option(value='/admin/nilai') -- Select --
									// - for(var i=0; i<10; i++)
									- each praktikum, i in data
										- if(praktikum.id==praktikum_id)
											option(value='/admin/nilai/praktikum-'+praktikum.id, selected)= praktikum.nama
										- else
											option(value='/admin/nilai/praktikum-'+praktikum.id)= praktikum.nama
			.widget.widget-nopad
				.widget-header
					i.icon-filter
					h3  Filter
				.widget-content
					form#filter.form-vertical(style='padding:15px;', action='',method='GET')
						fieldset
							.control-group
								.controls
								input#jumlah-modul.form-control.span2(name='s', type='text', value='', placeholder='e.g 1202150001')

							.control-group
								.controls
									select(name='filter-by').span2
										option(value='') Default
										option(value='nim') NIM
										option(value='nama') Nama
										option(value='asisten') Asisten
										option(value='modul') Modul
							button.btn.btn-primary.span2.pull-right
								i.icon-search
								span(style='display:inline-block; width:10px;')
								| Cari
			.widget.widget-nopad
				.widget-header
					i.icon-info-sign
					h3  Information
				.widget-content
					#big_stats.cf
						.stat
							i.icon-user
							span.value 851
							span.value(style='font-size:250%;')
								| / 
								| 867

		.span8
			.widget.widget-nopad
				.widget-header
					i.icon-list-alt
					h3  Modul
				.widget-content
					// p 
					table.table.table-striped.table-hover
						thead
							tr
								th(width='10%') NO.
								th Modul
								th Komponen
								th Asisten PJ
								th Jumlah Praktikan
								th Jumlah Penilaian
								th .
						tbody
							// - for(var i=1; i<6; i++)
							- each modul, i in res[0].Moduls
								tr
									td= modul.nomor
									td= modul.nama
									td= (modul.Units!=null)?Object.keys(modul.Units).length:0
									td &mdash;
									td 657
									td 433
									td.td-actions
										a.btn.btn-small.btn-default(href='/admin/nilai/praktikum-'+(praktikum_id==null?0:praktikum_id)+'/modul-'+i)
											i.btn-icon-only.icon-search  
			- if(modul_id!=null)
				.row(style='text-align:right; padding:10px;')
					button.btn.btn-success()
						i.icon-download-alt 
						span(style='display:inline-block; width:20px;')
						| Export XLSX
					&nbsp;
					button.btn.btn-warning()
						i.icon-upload-alt 
						span(style='display:inline-block; width:20px;')
						| Online Synchronize
				.widget.widget-nopad
					.widget-header
						i.icon-list-alt
						h3  
							| Penilaian
					.widget-content
						// p 
						table.table.table-striped.table-hover
							thead
								tr
									th NO.
									th Modul
									th NIM
									th Nama
									th Asisten
									th Nilai Akhir
							tbody
								- for(var i=1; i<100; i++)
									tr
										td= i
										td Introduction of Data
										td 1202150079
										td John Doe
										td SSH
										td 100