extends layout_v2

block title
	= quiz.Quiz.nama
	| &nbsp;&middot;&nbsp;
	= quiz.Modul.nama

block styles
	style.
		.multiplebox{padding:5px 15px; border-radius:5px;}
		.multiplebox:hover{background-color:#eee;}
			.option-number{display:inline-block; margin:0 auto; width:30px; height:30px; border-radius:50%; background-color:#fefefe; line-height:2;}
				.radio-pretty{}
					.radio-label{width:50px;height:50px; display:inline-block; background-color:#f5f5f5; line-height:2.8; border-radius:50%; cursor:pointer; border:2px solid #f6f6f6;}
					.radio-label:hover{border-color:#9b4dca;}
					.radio-pretty .active{background-color:#9b4dca; color:#f5f5f5;}
					.radio-option{}
		.backToSection{position:fixed; top:5%; left:10px; z-index:100; display:display-block; background-color:#fefefe; padding:8px 15px; border:2px solid #eee; opacity:0.5;}
		.backToSection:hover{opacity:1;}


block content
	.container

		a#backToSection.backToSection(href='javascript:;', style='display:none;', title='Edit Informasi')
			i.icon-arrow-up
			| &nbsp;Edit

		form(action='', method='post')
		section#nav.row(style='padding:10px 0;')
			.column.column-100
				a(href='/') Depan
				| &nbsp;&frasl;&nbsp;
				span
					= quiz.Modul.nama
				| &nbsp;&frasl;&nbsp;
				span
					= quiz.Quiz.nama
		.row(style='margin-top:4%;')
			.column
				//- i.icon-tasks
			.column.column-80
				section#intro(style='height:80vh;')
					.row
						//- .column.column-120
						h1.column.column-50
							= quiz.Quiz.nama
						.column.column-70(style='text-align:right; font-size:80%;')
							//- Lab
							=quiz.Modul.Praktikum.Lab.nama 
							| &nbsp;&middot;&nbsp;
							=quiz.Modul.Praktikum.Lab.nickname
							br
							//- Praktikum
							=quiz.Modul.Praktikum.nama
							br
							//- Modul
							=quiz.Modul.nama
					p= quiz.description
					p 
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacus eros, pellentesque nec lectus eget, consectetur gravida turpis. Proin quis fringilla justo. Pellentesque commodo elit sit amet diam finibus, viverra elementum turpis posuere. Mauris eu tristique dui, sit amet gravida est. Proin lacus erat, auctor ut faucibus quis	
					hr
					.row#passkey
						.column
						.column.column-60(style='text-align:center;')
							#aturan
								//- h1 Aturan Main
								//- p dibacaya
							form#unlockForm(action='/unit/unlock/'+quiz.id, method='POST')
								h1 Unlock Me
								.row
									input(type='text', name='password', placeholder='Enter password here')
									&nbsp;
									button(type='submit') Unlock
								img#preloader1(src='/imgs/loading2.gif', style='display:none; width:60px;')
							.row#afterUnlock(style='display:none; text-align:center; margin-top:8%;')
								.column.column-100
									p
										i.icon-unlock
										| &nbsp; You've Unlocked Me! Please Continue to 
										u
											| Next Section.
						.column

				section.row#user(style='height:95vh; padding:5% 0; display:none;')
					.column
					.column.column-50(style='text-align:center;')
						h1 Fill Your Information
						form#fill(action='',method='POST')
							fieldset(style='text-align:left;')
								label NIM
								.row
									.column.column-60
										input(name='inim', value='12', type='text', placeholder='')
									.column.column-30
										button#verify(style='width:98%;', type='button') Verify
									.column.column-10(style='text-align:center;')
										i.validnim.icon-ok(style='display:none;color:#9ccc65;font-size:200%;', title='NIM Valid')
										i.notvalidnim.icon-remove(style='display:none;color:#e57373;font-size:200%;', title='NIM tidak Valid dan Terdaftar')
										input(type='hidden', name='nim_validation', value='-10')
								.hidden-field(style='display:none;')
									label Nama
										input(name='inama', value='', type='text', placeholder='', autocomplete="off")
									label Kelas
										input(name='ikelas', value='', type='text', placeholder='', autocomplete="off")
									label Shift
									.row
										.column.column-20
											input(name='ishift', value='', type='text', placeholder='', autocomplete="off")
										.column.column-80
											span#shift
									label Posisi
										input(name='ipos', value='', type='text', placeholder='', autocomplete="off")
								.row
									.column.column-70
										button#start(style='width:98%;display:none;', type='submit') Start
									.column.column-50(style='text-align:center;')
										a(href='#verify')
											| NIM belum terdaftar ?
										br
										i.icon-time
										| &nbsp;&nbsp;Time Limit&nbsp;
										= (quiz.Quiz.timelimit/60/1000)
										| &nbsp;Minutes
					.column
			.column

		section.row#workbench(style='height:95vh;display:none;margin-top:10%;')
			.column.column-75
				#document
					//- iframe#frame(src='/unit/docx/'+quiz.Attachment.filename, frameborder='0', width='100%', style='height:100vh; min-height:380px;')
			.column.column-25(style='text-align:left;')
				form#answerform(action='/unit/enrolled', method='POST')
					fieldset
						p(style='text-align:center;font-size:75%;margin:8px 4px;')
							a.icon-ok-circle
							| &nbsp;
							span#snama Filhan Dennis
							| &nbsp;&frasl;&nbsp;
							span#snim 1202150079
							| &nbsp;&frasl;&nbsp;
							span#skelas SI3907
							| &nbsp;&frasl;&nbsp;Shift&nbsp;
							span#sshift 7
						input(type='hidden', name='unitid', value= quiz.id)
						input(type='hidden', name='assignshiftid', value='')
						input(type='hidden', name='assignunitid', value='')
						input(type='hidden', name='nim', value='')
						input(type='hidden', name='nama', value='')
						input(type='hidden', name='kelas', value='')
						input(type='hidden', name='shift', value='')
						input(type='hidden', name='pos', value='')
						input(type='hidden', name='timeLapse', value='')
						div#multiplebox(style='text-align:center;')
						- var qMax=quiz.Quiz.jumlah_soal;
						- for(i=0; i<qMax; i++)
							.multiplebox(style='text-align:center;')
								.row
									.column.column-10.option-number= (i+1)
									input(style='display:none', type='radio', name='choices['+i+']', checked='checked',value='')
									- var choices = ['a','b','c','d','e'];
									- for(c=0; c<choices.length-1; c++)
										.column
											.radio-pretty
												label
													span.radio-label(style='')
														= choices[c].toUpperCase()
													input.radio-option(style='display:none;', type='radio', name='choices['+i+']', value= choices[c])
					
					.row
						.column.column-40
							button#btnFinish(type='submit') Finish
						.column.column-60(style='text-align:right;')
							span(style='font-size:22px;')
								i.icon-time
								| &nbsp;
								span#countdown_timer 00:00:00
	input(type='hidden', id='seconds', value= ((quiz.Quiz.timelimit/1000)) )

block scripts
	script(type='text/javascript', src='/javascripts/easytimer.min.js')
	script(type='text/javascript', src='/javascripts/jquery.cookie.min.js')

	script.
		$(document).ready(()=>{
			inits();
		}
		);

		function inits(){

		var passBlock = $('#passkey');
		
		var frame = $('#document');
		var unlock = $('#unlockForm');
		var afterUnlock = $('#afterUnlock');
		var txtUnlock = $('input[name=password]');
		var preloader1=$('#preloader1');
		console.log(unlock.attr('action'));
		var userBlock=$('#user');

		//- 
		//- ACTION UNLOCK FORM
		//- 
		unlock.bind('submit', (e)=>{
			e.preventDefault();
			preloader1.show();
			$.post(unlock.attr('action'), {password: txtUnlock.val()}, (result,stat,type)=>{
				//- console.log(result);
				preloader1.hide();
				return result;
			})
			.done((d)=>{
				unlock.hide();
				afterUnlock.fadeIn();
				userBlock.show();
				scrollToE(userBlock);
				frame.html(d);
				//- console.log(d);
				//- $('title').html("Fill your Information");
			})
			.fail((f)=>{
				preloader1.hide();
				swal({title: 'Password Salah', button:false, text:' ', icon:'error'});
			})
			;
		});

		
		//- 
		//- ACTION CLICK RADIO
		//- 
		var rowChoice = $('.multiplebox');
		var radioChoiceBtn = $('.radio-option');
			radioChoiceBtn.bind('change', (e)=>{
				e.preventDefault();
				var r = $(e.target);
				r.parents('.multiplebox').find('.radio-label').removeClass('active');
				r.parents('.radio-pretty').find('.radio-label').addClass('active');

				saveAnswerForm();
			});
		

		//- 
		//- ACTION BUTTON VIRIFY
		//- 
		var nim=$('input[name=inim]');
			$(nim).bind('change',(e)=>{
				if(nim.val()!=$('input[nama=inim]').val()){
					console.log('NIM NOT MATCH');
				}
			});

			$('#verify').bind('click',(e)=>{
				e.preventDefault();

				nim.removeClass('animated shake');
				
				$.post('/unit/user/',{praktikan: nim.val(), shift: $('[name=ishift]').val()},(res,status)=>{
					if(res.status===1){
						//- console.log(res);
						console.log((res.data.Praktikan.id));
						$('input[name=assignshiftid]').val((res.data.id));
						$('input[name=inim]').val((res.data.Praktikan.id));
						$('input[name=inama]').val(res.data.Praktikan.nama);
						$('input[name=ikelas]').val(res.data.Praktikan.kelas);
						$('input[name=ishift]').val(res.data.Shift.id);
						$('input[name=nim_validation]').val(1);
						$('#shift').text(res.data.Shift.everyday+' '+res.data.Shift.location+' '+res.data.Shift.time_in);

						if($('.notvalidnim').is(':visible')){$('.notvalidnim').hide();}
						$('.validnim').fadeIn();
						//- $('input[name=pos]').val();
						//- $(e.target).fadeOut(1000, ()=>{
							//- $('input[name=inim]').attr('readonly', true);
							//- $('.hidden-field').slideDown(1000);
							$('.hidden-field').slideDown(1000);
							$('#start').fadeIn();
							saveAnswerForm();
						//- });

					}else{
						resetHiddenField();
						if($('.validnim').is(':visible')){$('.validnim').hide();}
						//- swal({title: 'Ooops... ', text: 'NIM not found, try some action.', icon:'warning',button:false});
						nim.toggleClass('animated shake');
						swal({title: 'ID Error', text:'NIM tidak terdaftar dalam shift unit terkait.\n"Retry" untuk input ulang NIM Valid.\n"Continue" untuk melanjutkan tanpa validasi.', buttons:['Retry','Continue']})
							.then((val)=>{
								if(val!=null){
									$('.notvalidnim').fadeIn();
									$('input[name=nim_validation]').val(0);
									$('.hidden-field').slideDown(1000);
									$('#start').fadeIn();
								}
							})
							;
					}
				}).catch((ex)=>{
					swal({title: 'Ooops... ', text: 'Something went wrong.', icon:'error',button:false});
				});
				//console.log('user info set');
			});

		function resetHiddenField(){
			$('input[name=assignshiftid]').val("");
			//- $('input[name=inim]').val("");
			$('input[name=inama]').val("");
			$('input[name=ikelas]').val("");
			$('input[name=ishift]').val("");
			$('#shift').text("");
			$('input[name=nim_validation]').val(-10);
		}


		//- 
		//- ACTION JIKA DIUPDATE
		//- 
		

		//- 
		//- ACTION BUTTON FINISH
		//- 
		var answerform = $('#answerform');
			$('#btnFinish').on('click',(e)=>{
				e.preventDefault();
				swal({
					title: 'Selesaikan sekarang?', 
					text: ' ',
					icon: 'warning', 
					buttons: ['Not Now', 'Continue']
					})
					.then((val)=>{
						if(val!=null){
							answerform.submit();
						}
					});
			});

		
		//- 
		//- ACTION BUTTON START
		//- 
		var startIsBegin = false;
		var workbench =$('#workbench');
			$('#fill').on('submit',(e)=>{
				e.preventDefault();
				if($('input[name=nim_validation]').val()==-10){swal({title: 'Verify First', text:'Masukkan NIM Valid', button:false, icon:'error'}); return;}

				//- if($('input[name=nim]').val()!='' && $('input[name=inim]').val()!=$('input[name=nim]').val()){console.log('nim changes'); return;}

				fillA();
				//- if($('input[name=nim_validation]').val()==0){$('input[name=assignshiftid]').val(''); console.log('nim not valid');}

				//- INSERT TO UNIT ASSIGN
				swal({title: "Attention Please", icon:'warning',text:"Setelah menekan tombol lanjutkan WAKTU dan NIM akan tercatat dalam daftar untuk mengikuti agenda, tidak dapat mengulang kambali.\nPastikan seluruh data yang diinput BENAR.",dangerMode:true,
					buttons: ['Batalkan','Saya mengerti, Lanjutkan']
				})
				.then((val)=>{
					if(val!=null){
						var assignshift = $('input[name=assignshiftid]').val()
						if($('input[name=nim_validation]').val()==0){assignshift=-100; console.log('nim not valid'); }
						if($('#start').text().toLowerCase()==('Update').toLowerCase()){
							swal({title: '500', text: 'EDIT DATA NOT READY YET', icon:'error',button:false});
							console.log('edit data');
							workbench.show();
							scrollToE(workbench);
							return;
						}
						$.post('/unit/start',
						{
							praktikan: $('input[name=nim]').val(), 
							unitId: $('input[name=unitid]').val(), 
							shiftId: $('input[name=shift]').val(),
							shiftAssignId: assignshift
						},
						(res,stat)=>{
							$('input[name=assignunitid]').val(res.data.id);
							workbench.show();
							workbench.height(answerform.height());
							//- console.log(workbench.height());
							$('#start').text('Update');
							scrollToE(workbench);
							if(startIsBegin!=true){timerStart();}
							setTimeout(()=>{makeToggle()},2000);

							//- console.log(res);
						})
						.fail((ex)=>{
							var error_message = ex.responseJSON.exceptions.original.sqlMessage;
							var error_desc = (error_message.includes('Duplicate'))?error_message+"\nSudah melakukan Unit Asssigned":error_message;
							swal({title: ex.status, text: error_desc, icon:'error',button:false});
							console.log(ex);
						});
					}
				})
				;
				
			});

		
		//- 
		//- ACTION BTN BACK TO FORM 2
		//- 
		var btnBackToSection = $('#backToSection');
			btnBackToSection.on('click', (e)=>{
				e.preventDefault();
				if(workbench.is(':visible')){
					scrollToE(userBlock);
					workbench.toggle();
					//- $('#verify').show();
					//- $('#start').hide();
					makeToggle();
				}
			});

		$.cookie.json = true;
		function saveAnswerForm(){
			var d = new Date();
			d.setTime(d.getTime() + 10*60*1000);
			var dd=d.toGMTString();
			var data=JSON.stringify(answerform.serializeArray());
			//- console.log(data);
			//- console.log(dd);
			//- if($.cookie('quizsaveme_expires')!=null){d=$.cookie('quizsaveme_expires');}
			//- //- document.cookie = 'quizsaveme_expires='+dd+'; Expires='+dd;
			//- //- document.cookie = 'quizsaveme_data='+JSON.stringify(answerform.data())+'; Expires='+dd;
			//- $.cookie("quizsaveme_expires", d, {expires: 1});
			//- $.cookie("quizsaveme_data", JSON.stringify(answerform.data()), {expires: 1});

			//- console.log(JSON.parse(data));
		}

		function makeToggle(){
			passBlock.toggle();
			userBlock.toggle();
			btnBackToSection.toggle();
		}
		
		function timerStart(){
			startIsBegin=true;
			var ele = $('#countdown_timer');
			var timer = new Timer();
			var tcounter = new Timer();
			var time=parseInt($('#seconds').val());
			timer.start({countdown: true, startValues: {seconds: time}});
			ele.html(timer.getTimeValues().toString());
			timer.addEventListener('secondsUpdated', function (e) {
			    ele.html(timer.getTimeValues().toString());
			});
			timer.addEventListener('targetAchieved', function (e) {
			   autoSubmit();
			});
			var tele = $('[name=timeLapse]');
			tcounter.start();
			tele.html(tcounter.getTotalTimeValues().toString());
			tcounter.addEventListener('secondsUpdated', function (e) {
			    tele.val(tcounter.getTotalTimeValues().seconds);
			});
		}

		function autoSubmit(){
			var ele = answerform;
			setTimeout(function(){
				ele.submit();
			},5000);
		}

		
		
		function scrollToE(eleTarget){
			$('html, body').animate({
				    scrollTop: (eleTarget.offset().top)
			},500);
		}
		function fillA(){
			$('input[name=nim]').val($('input[name=inim]').val());
			$('input[name=nama]').val($('input[name=inama]').val());
			$('input[name=kelas]').val($('input[name=ikelas]').val());
			$('input[name=shift]').val($('input[name=ishift]').val());
			$('input[name=pos]').val($('input[name=ipos]').val());

			$('#snama').text($('input[name=inim]').val());
			$('#snim').text($('input[name=inama]').val());
			$('#skelas').text($('input[name=ikelas]').val());
			$('#sshift').text($('input[name=ishift]').val());
			//- $('#sipos').val($('input[name=ipos]').val());
		}
		}
		


